{% extends 'base.html.twig' %}

{% block title %}Todo index{% endblock %}

{% block body %}
    <h1>Todo index</h1>
<tr class="checkbox>"
<div>
<input type ="search" name="search" value="search" id="search">
 
</div>
  </tr>
    <table class="table">
      <thead>
            <tr>
                <th><a href="{{ path('app_todo_index' ) }}?orderby={{orderby}}"> Id </a></th></th>
                <th>
                 <a href="{{ path('app_todo_index' ) }}?order={{order}}"> Name </a></th>
                <th>description</th>
                <th>done</th>
                <th> priority</th>

                <th>actions</th>

            </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr >
                <td>{{ todo.id }}</td>
                <td>{{ todo.name }}</td>
                <td>{{ todo.description }}</td>
                <td class="isDone" id = {{ todo.id }}> {{ todo.done == 1 ? 'oui' : 'non'  }}</td>
                <td>
                
                {% if todo.priority is not null %}
                {{ todo.priority.level }}
                {% endif %}
                </td>
                <td>
                    <a href="{{ path('app_todo_show', {'id': todo.id}) }}">show</a>
                    <a href="{{ path('app_todo_edit', {'id': todo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_todo_new') }}">Create new</a>
{% endblock %}
